/* REUSED */
* {
  font-family: 'Open Sans', sans-serif;
}

.clear{
	clear: both;
}

.clear:before,
.clear:after {
	content: "";
	display: table;
}
.clear:after {
	clear: both;
}

.float-left {
	float: left;
}

.float-right{
	float: right;
}

body{
	color: white;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 0;
#	font-family: 'Open Sans', sans-serif;
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  background: url(img/bg4.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.hidden{
	display: none;
}

.base-container{
	width: 600px;
#	background-color: #ca8383;
    border: 1px solid rgba(0, 0, 0, 0.30);
	margin: 0 auto;
	margin-top: 80px;
	position: relative;
}

/* ================== HEADER ====================== */
.header{
	width: 100%;
	height: 70px;
	background-color: rgba(255, 255, 255, 0.5);
}

.window-buttons-container{
	width: 70px;
	height: 70px;
#	background-color: blue;
}

	.window-buttons{
		width: 60px;
		height: 17px;
#		background-color: black;
		margin-top: 10px;
		margin-left: 10px;
	}
	
		.window-button-close{
			width: 15px;
			height: 15px;
			background-color: #ff6159;
			border: 1px solid #e54b44;
			border-radius: 50%;
			margin-right: 4px;
			float: left;
			cursor: pointer;
		}

		.window-button-close:hover{
			background-color: #e54b44;
			border: 1px solid #ff6159;
}
		.window-button-minimize{
			width: 15px;
			height: 15px;
			background-color: #ffbe2f;
			border: 1px solid #e3a523;
			border-radius: 50%;
			margin-right: 4px;
			cursor: pointer;
			float: left;
		}

		.window-button-minimize:hover{
			background-color: #e3a523;
			border: 1px solid #ffbe2f;
}
		.window-button-maximize{
			width: 15px;
			height: 15px;
			background-color: #29cf42;
			border: 1px solid #1db02f;
			border-radius: 50%;
			margin-right: 4px;
			float: left;
			cursor: pointer;
		}

		.window-button-maximize:hover{
			background-color: #1db02f;
			border: 1px solid #29cf42;
}

.window-title{
	width: 430px;
	height: 22px;
#	background-color: black;
	margin-top: 35px;
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	float: left;
}

.service-buttons-cont{
	width: 100px;
	height: 70px;
#	background-color: yellow;
	float: right;
}

	.service-buttons-subcont{
		width: 85px;
		height: 30px;
#		background-color: fuchsia;
		margin-top: 25px;
		margin-left: 15px;
	}

		.service-button{
#			background-color: blue;
			background: none;
			border: none;
			margin-right: 5px;
			opacity: 0.6;
			float: left;
			cursor: pointer;
			color: white;
			font-size: 17px;
		}
		
		.service-button:hover{
		    opacity: 1;
		}

/* ================== SIDEBAR ====================== */
.sidebar{
	width: 70px;
	height: 520px;
#	background-color: fuchsia;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	float: left
}

.menu-cont{
}

	.menu-cont i{
		font-size: 28px;
		opacity: 0.6;
		color: white;
		cursor: pointer;
	}
	.menu-cont i:hover{
		opacity: 1;
	}
	
	.menu-cont > button{
		width: 70px;
		height: 70px;
		position: relative;
		border: none;
	}

	.menu-all{
		background-color: #52596c;
	}

		.active-arrow{
			position: absolute;
		#	width: 0;
		#	height: 0;
			right: 0px;
			top: 50%;
			z-index: auto;
			-webkit-transform: translatey(-50%);
			-ms-transform: translatey(-50%);
			transform: translatey(-50%);
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-right: 10px solid #4a4f62;
		}

	.menu-personal{
		background-color: #fe6d6a;
	}
	.menu-work{
		background-color: #ffc778;
	}
	.menu-rest{
		background-color: #cc94ef;
	}
	.menu-friends{
		background-color: #2ce4be;
	}

.settings-cont{
	width: 70px;
	height: 30px;
	position: absolute;
#	background-color: fuchsia;
	opacity: 0.6;
	bottom: 18px;
	color: white;
	border: none;
	background: none;
	font-size: 24px;
	cursor: pointer;
}

.settings-cont:hover{
	opacity: 1;
}

/* ================== MAIN ====================== */
.main{
	background-color: #ffc1c1;
	width: 530px;
	height: 520px;
	float: left;
	overflow: hidden;
}



.task{
	position: relative;
	border-right-style: solid;
	border-right-width: 12px;
	border-right-color: #52596c;	
	
	border-top-style: solid;
	border-top-width: 1px;
 	border-top-color: #5b6274;
 	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

}

.task-home{
	border-right-color: #fe6d6a!important;
}
.task-work{
	border-right-color: #f0c67c!important;
}
.task-rest{
	border-right-color: #cb92f0!important;
}
.task-friends{
	border-right-color: #2ce4be!important;
}
.task-cat1{
	border-right-color: #5b5056!important;
}
.task-cat2{
	border-right-color: #575675!important;
}
.task-cat3{
	border-right-color: #545952!important;
}


.task-actual-cont{
	position: relative;
#	background-color: #dec3c3;
}

	.task-status{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: #4a4f62;
		width: 47px;
	}
	
	.task-desc{
	 	background-color: #52596c;
	 	padding-left: 47px;
	}
	
		.task-actual-meta{
		#	background-color: blue;
			width: 411px;
		#	height: 25px;
			margin-left: 25px;
			padding-top: 25px;
		#	color: #979ba6;
		}
			.task-actual-meta-location{
			#	background-color: yellow;
				width: 25px;
			#	height: 25px;
				text-align: center;
				float: left;
				cursor: pointer;
			}
			.task-actual-meta-location i{
				opacity: 0.6;
			}
			.task-actual-meta-location i:hover{
				opacity: 1;
			}
		
			.task-actual-meta-title{
			#	background-color: teal;
				width: 359px;
			#	height: 23px;
				font-size: 12px;
				font-weight: bold;
				margin-top: 3px;
				float: left;
				opacity: 0.6;
			}
		
			.task-actual-meta-favorite{
			#	background-color: yellow;
				width: 25px;
			#	height: 25px;
				text-align: center;
				float: right;
				cursor: pointer;
				border: none;
				background: none;
				color: white;
				font-size: 15px;
			}
			.task-actual-meta-favorite i{
				opacity: 0.6;
			}
			.task-actual-meta-favorite i:hover{
				opacity: 1;
			}
			
		.task-actual-title{
		#	background-color: yellow;
		#	width: 435px;
		#	height: 235px;
			margin-left: 30px;
			color: white;
			font-size: 45px;
			font-weight: lighter;
		}
		.task-actual-title p{
		}

.task-others-cont{
	margin-top: -45px; /*?*/
}

.col1{
	width: 100%;
}

.col1-2{
	width: 50%;
#	background-color: red;
	float: left;
}

.task-meta{
#	background-color: blue;
	margin-left: 30px;
	padding-top: 16px;
	font-size: 12px;
	font-weight: bold;
	opacity: 0.6;
}

.task-title{
	#	background-color: yellow;
	#	width: 435px;
	#	height: 235px;
		margin-left: 30px;
		color: white;
		font-size: 18px;
		padding-top: 12px;
		padding-bottom: 15px;
}

.task-active{
	border-left: 2px solid #eb605b;
}

.checked{
	background-color: #36494f;
}

/* === Checkbox start === */
.checkbox-element-container{
#	background-color: fuchsia;
	position: absolute;
	top: 50%;
	left: 9.5px;
	-webkit-transform: translatey(-50%);
	width: 28px;
	height: 28px;
}

input[type=checkbox] {
	visibility: hidden;
}

.roundedTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 0px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedTwo label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 1.5px;
	top: 1.5px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 7px;
	height: 6px;
	background: transparent;
	top: 6.5px;
	left: 7.5px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
/* === Checkbox end === */













/* ================== SEARCH ====================== */
/* == triggers == */
.service-button{
#	display: none!important;
}
/* == */

.popup-close-button {
	position: absolute;
	top: 23px;
	right: 7px;
	font-size: 20px;
	cursor: pointer;
	opacity: 0.7;
	border: none;
	background: none;
	color: white;
}
.popup-close-button:hover {
	opacity: 1;
}

.search-overlay{
	width: 600px;
	height: 438px;

	background-color: black;
	opacity: 0.6;

	position: absolute;
	top: 152px;
	left: 0px;
}


.search{
	width: 598px;
	height: 80px;
	background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 70px;
}

	.search-button-cont{
		width: 70px;
		height: 80px;
	#	background-color: lime;
		float: left;
	}
	
	.search-button-cont i{
		opacity: 0.8;
		color: #979ba6;
		position: absolute;
		top: 50%;
		left: 18px;
		-webkit-transform: translatey(-50%);
	}

	.fa-search:hover{
		opacity: 0.9;
		color: white;
	}

	.search-button{
		background: none;
		border: none;
		cursor: pointer;
		font-size: 17px;
	}

.search-text-cont{
#	background-color: red;
	width: 528px;
	height: 80px;
	float: left;
}

.search-input {
	width: 90%;
	font-size: 28px;
	color: white;
	padding: 17px 20px 20px 20px;
	background: transparent;
	overflow: hidden;
	border: none;
	outline: none;
	resize: none;
}

/* ================== DETAILS OF TASK ====================== */
.details-overlay{
	width: 320px;
	height: 520px;

	background-color: black;
	opacity: 0.6;

	position: absolute;
	top: 70px;
	left: 0px;
}
.details{
	width: 320px;
	height: 520px;

	background-color: black;
	opacity: 0.8;

	position: absolute;
	top: 70px;
	right: 0px;
	}

.details-cont{
}

	.details-task-cont{
		float: left;
	}
	
	
	.details-task{
		position: relative;
		
		border-top-style: solid;
		border-top-width: 12px;
	 	border-top-color: #5b6274;
	 	
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	
	.details-task-friends{
		border-top-color: #2ce4be!important;
	}
	
		.details-task-status{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
		#	background-color: #4a4f62;
			width: 47px;
		}
		
		.details-task-desc{
		 #	background-color: #52596c;
		 	padding-left: 47px;
		 	width: 75%;
		}
				
			.details-task-title{
			#	background-color: yellow;
			#	width: 435px;
			#	height: 235px;
			#	margin-left: 10px;
				padding: 15px 0px 15px 10px;
				color: white;
				font-size: 35px;
				font-weight: lighter;
			}
	
		.details-task-fav-button{
		#	background-color: red;
			position: absolute;
			right: 0;
			width: 35px;
			height: 60px;
			background: none;
			border: none;
			color: white;
			cursor: pointer;
		}
	
		.details-task-fav-button i{
			margin-top: 30px;
			font-size: 25px;
			opacity: 0.7;
		}
		.details-task-fav-button i:hover{
			opacity: 1;
		}







.details-action-cont{
#	background-color: blue;
#	width: 320px;
	height: 55px;
	position: relative;
	border-top: 1px solid #5b6274;
}

	.details-action-button{
	#	background-color: red;
		width: 47px;
		height: 60px;
		float: left;
		border: none;
		background: none;
	}
	
	.details-action-button i{
		font-size: 23px;
		color: white;
		opacity: 0.6;
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 13px;
		-webkit-transform: translatey(-50%);
	}
	.details-action-button i:hover{
		opacity: 1;
	}

	.details-action-button-work i{
		color: #2ce4be;
	}

	.details-action-title-cont{
		background-color: blue;
		float: left;
	}

		.details-action-title{
		#	background-color: fuchsia;
		#	width: 173px;
		#	height: 17px;
	#		color: #979ba6;
			font-size: 12px;
			font-weight: bold;
			position: absolute;
			top: 50%;
			left: 60px;
			-webkit-transform: translatey(-50%);
			cursor: pointer;
			opacity: 0.6;
		}
		.details-action-title:hover{
			opacity: 1;
		}


		.details-action-title-note{
		#	background-color: fuchsia;
			width: 173px;
			height: 17px;
			color: #979ba6;
			font-size: 12px;
			position: absolute;
			top: 50%;
			left: 60px;
			-webkit-transform: translatey(-50%);
		}

			.notes-cont {
			    width: 80%;
			    float: left;
			}
			
				.notes{
					background-color: red;
					background: transparent;
				    resize: none;
				    outline: none;
				    border: none;
				    font-weight: bold;
				    font-size: 12px;
				    color: #979ba6;
					margin-top: -5px;
				   	padding: 5px 5px 5px 0px;
					}

.details-attach{
	background-color: red;
	width: 320px;;
	height: 60px;	
}
	.details-attach-button{
		position: absolute;
		bottom: 20px;
		right: 20px;
	#	background-color: red;
		width: 23px;;
		height: 23px;
		opacity: 0.6;
		cursor: pointer;
		background: none;
		border: none;
		color: white;
		font-size: 19px;
	}
	.details-attach-button:hover{
		opacity: 1;
	}



/* ================== CALENDAR ====================== */
.calendar{
	width: 208px;
	height: 230px;
#	border: 1px solid rgba(0, 0, 0, 0.30);
	background-color: white;
#	opacity: 1;
	position: absolute;
	top: 84px;
	left: 70px;
}

.last-next-month{
	color: #c2c3c5;
}

.date-rounded{
	border: 1px solid transparent;
	border-radius: 50%;
}
.date-rounded:hover{
	border-color: red;
}

.date-today{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgba(220, 223, 230, 0.6);
}


.calendar-table{
	width: 206px;
	height: 196px;
#	background-color: aqua;
    font-weight: 600;
	font-size: 17px;
    color: #414757;
    border-collapse: collapse;
}

.calendar-table caption{
    background-color: #eceff6;
}
.calendar-table th{
	width: 28px;
	height: 28px;
    background-color: #eceff6;
    color: #838592;
    font-size: 10px;
    cursor: pointer;
    }
.calendar-table td{
	width: 28px;
	height: 28px;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid transparent;
}
.calendar-table td:hover{
 #   width: 28px;
 #   height: 28px;
 #   border-radius: 50%;
 #   border: 1px solid red;
}
.calendar-table tbody {
    background: white;
}



.month-changer{
    text-decoration: none;
    font-size: 14px;
    color: #414757;
    cursor: pointer;
    padding: 3px 3px;
}
.month-changer:hover{
    color: #828691;
}
.month-changer span{
	margin: 10px 10px;
}



.calendar-arrow{
	position: absolute;
#	width: 0;
#	height: 0;
	right: -6px;
	top: 145px;
	z-index: auto;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid white;
}



/* ================== ADD NEW ====================== */
.newtask-category-overlay{
	width: 600px;
	height: 520px;

	background-color: black;
	opacity: 0.6;

	position: absolute;
	top: 70px;
#	left: 0px;
}


.newtask-category-cont{
	position: absolute;
	top: 70px;
	background-color: #3a3e59;
	opacity: 0.95;
#    border: 1px solid rgba(0, 0, 0, 0.30);
	width: 600px;
#	height: 80px;
}

.newtask{
#	background-color: lime;
	width: 430px;
/* 	height: 80px; */
	font-size: 28px;
		font-weight: lighter;
	padding: 28px 5px 28px 28px;
	float: left;
	outline: none;
	opacity: 0.6;

}

.newtask-buttons-cont{
#	background-color: red;
#	width: 100px;
#	height: 80px;
	float: left;
}

	.newtask-button{
		opacity: 0.9;
		color: #acafb6;
		position: absolute;
		top: 35px;
		right: 15px;
		border:none;
		background: none;
		font-size: 15px;
	}
	.newtask-button i{
		margin-right: 15px;
		cursor: pointer;

	}
	.newtask-button i:hover{
		color: white;
		opacity: 1;
	}
	
	.newtask-button > .fa-circle{
		color: #fa8281;
	}

/* ================== CATEGORY ====================== */
.category-arrow{
	position: absolute;
#	width: 0;
#	height: 0;
	right: 35px;
	top: -30px;
#	z-index: auto;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #55586b;
	}

.category{
	width: 600px;
	height: 80px;
	background-color: #55586b;
	opacity: 0.6;
}

	.category-title-cont{
	#	background-color: red;
		width: 50%;
	#	height: 80px;
		float: left;
		position: relative;
	}
		.category-title{
		#	background-color: blue;
			font-size: 19px;
			font-weight: lighter;
			padding: 27px 5px 27px 28px;
		}
	
	.category-icons-cont{
	#	background-color: green;
		width: 50%;
	#	height: 80px;
		float: left;
		margin-top: 20px;
		position: relative;
	}

	.category-subcont{
		position: absolute;
		right: 28px;
	}
		.category-icons{
			position: relative;
			border: 1px solid #494b5b;
			border-radius: 50%;
		#	background-color: #fa8281;
			width: 40px;
			height: 40px;
			display: block;
			margin-left: 20px;
			opacity: 0.6;
			cursor: pointer;
			float: left;
		}
		.category-icons:hover{
			color: white;
			opacity: 1;
		}
			.category-icons i{
				position: absolute;
				top: 50%;
				left: 12px;
				-webkit-transform: translatey(-50%);
			}

			.category-icon-home{
				background-color: #fa8281;
				margin-left: 0px!important;
			}
				
			.category-icon-work{
				background-color: #887370;
			}

			.category-icon-rest{
				background-color: #776a95;
			}

			.category-icon-friends{
				background-color: #468185;
			}


			.category-icon-active{
				color: white;
				opacity: 1;
			}



















